body {
    margin: auto;
}
#scene {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to top, #cfd3c6, #c8cbc1, #c1c4bc, #bbbcb7, #b4b5b2);
    overflow: hidden;
    
}

#logo {
    left: 0px;
    position: absolute;
    width: 15%;
    height: 20%;
    top: 0px;
    z-index: 4;
    transform: skewX(-5deg);
}
/*demo section*/
#demo {
    position: absolute;
    z-index: 1;
    background-color: black;
    width: 35%;
    height: 35%;
    right: 0%;
    top: 13%;
}
#play {
    width: 8%;
    cursor: pointer;
    right: 12%;
    top: 27%;
    position: absolute;
    z-index: 1;
}

/*bottom line ER HIDDEN*/
#demoLine1 {
    z-index: 2;
    position: absolute;
    width: 100vw;
    height: 15vh;
    background-color: black;
    bottom: 0px;
    background-image: linear-gradient(to top, #ffffff, #dad5f9, #b3acf2, #8885ea, #5360e1);
    visibility: hidden;
    
}
/*left line*/
#demoLine2 {
    z-index: 3;
    position: absolute;
    width: 13%;
    height: 100%;
    background-color: black;
    top: 15%;
background-image: radial-gradient(circle, #252525, #242424, #232323, #222222, #212121);
}

/*mantras*/
#m1 {
    width: 10%;
    height: 10%;
    font-size: 200%;
    color: #806000;
    bottom: 20%;
    right: 2%;
    color: silver;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    z-index: 3;
}
#m2 {
    width: 40vw;
    height: 5vh;
    top: 82%;
    left: 82%;
    font-size: 2vmin;
    color: white;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    z-index: 2;
}
#m3{
    position: absolute;
    z-index: 5;
    width: 50%;
    top: 38%;
    left: 15%;
    font-size: 300%;
    font-family: sans-serif;
}
/*class for recoloring av ordet "matters"*/
.wordMatters {
    color: #6600cc;
    z-index: 1;
    font-style: 
}
#m4 {
    position: absolute;
    z-index: 1;
    width: 50vw;
    top: 50%;
    left: 24%;
    font-size: 3vmin;
    font-family: sans-serif; 
}
/*class for recoloring av ordet "NexTask"*/
.wordNexTask {
    color: #6600cc;
    z-index: 1;
    font-style:
}
/*checkmarks*/
.check {
    position: absolute;
    z-index: 5;
    width: 2%;
    top: 60%;
    left: 20%;
    
}
#check1 {
    top: 65%;
    
}
#check2 {
    top: 70%;
    
}
#check3 {
    top: 75%;
    
}
#check4 {
    top: 80%;
    
}
.checkText {
    position: absolute;
    z-index: 1;
    width: 15%;
    height: 10%;
    top: 180%;
    left: 23%;
    color: white;
    font-size: 100%;
    font-family: 'Montserrat'
}
#checkText1 {
    top: 79%
}
#checkText2 {
    top: 58%;
}
#checkText3 {
    top: 63%;
}
#checkText4 {
    top: 69%;
}
#checkText5 {
    top: 73%;
}

/*cursor pointer buggy og zoom er fucked*/
#getStartedButton {
    background-color: #9555af;
    color: #f2f2f2;
    font-size: 200%;
    font-family: sans-serif;
    position: absolute;
    width: 15%;
    height: 7&;
    top: 70%;
    left: 50%;
    z-index: 1;
    cursor: pointer;
    box-shadow: 5px 5px #000;
    
}
#star1 {
    position: absolute;
    width: 2vw;
    height: 3vh;
    z-index: 1;
    right: 500%;
}
#star2 {
    position: absolute;
    width: 2vw;
    height: 3vh;
    z-index: 1;
    right: 460%;
}
#star3 {
    position: absolute;
    width: 2vw;
    height: 3vh;
    z-index: 1;
    right: 420%;
}
#star4 {
    position: absolute;
    width: 2vw;
    height: 3vh;
    z-index: 1;
    right: 380%;
}
#star5 {
    position: absolute;
    width: 2vw;
    height: 3vh;
    z-index: 1;
    right: 340%;
}
#starContainer {
    position: absolute;
    width: 5vw;
    height: 5vh;
    z-index: 2;
    right: -13%;
    top: 88%;
    
}

#about {
    position: absolute;
    right: 25%;
    color: #d9d9d9;
    
    position: absolute;
    z-index: 1;
    font-size: 2vmin;
    cursor: pointer;
    top: 10.5%;
    font-family: 'Montserrat';
}
#ex2 {
    position: absolute;
    right: 30%;
    color: #d9d9d9;
    position: absolute;
    z-index: 1;
    font-size: 2vmin;
    cursor: pointer;
    top: 10.5%;
    font-family: 'Montserrat';
}

#topLogo {
    position: absolute;
    background-image: radial-gradient(circle, #252525, #242424, #232323, #222222, #212121);
    width: 100vw;
    height: 15vh;
    
}

#loginBtn {
    width: 8vw;
    height: 3.6vh;
    position: absolute;
    background-color: #9555af;
    color: #f2f2f2;
    font-size: 2vmin;
    font-family: 'Montserrat', sans-serif;
    border: 0.1px solid black;
    top: 11.8%;
    left: 90%;
    z-index: 5;
    cursor: pointer;

}
#menuLineContainer {
    position: absolute;
    width: 40%;
    height: 15%;
    z-index: 1;
    right: 0%;
}
/*skrå line*/
#stLine1 {
    position: absolute;
    z-index: 3;
    background-color: whitesmoke;
    color: white;
    width: 1%;
    height: 25%;
    left: -2.6%;
    top: 77%;
    transform: skewX(-50deg);
        
}
/*rett line over menu*/
#stLine2 {
    position: absolute;
    z-index: 3;
    background-color: whitesmoke;
    color: white;
    width: 99%;
    height: 2.1%;
    right: 0%;
    bottom: 20.9%;
    
}/*siden skrå line*/
#stLine3 {
    position: absolute;
    z-index: 2;
    background-color: whitesmoke;
    color: white;
    width: 10%;
    height: 25%;
    left: -1.7%;
    top: 77%;
    transform: skewX(-50deg);
        
}
/*3x black line i hvit skrå blockline*/
#stLine4 {
    position: absolute;
    z-index: 4;
    background-color: black;
    width: 0.5%;
    height: 25%;
    left: 6%;
    top: 77%;
    transform: skewX(-50deg);
        
}
#stLine5 {
    position: absolute;
    z-index: 4;
    background-color: black;
    width: 0.5%;
    height: 25%;
    left: 3%;
    top: 77%;
    transform: skewX(-50deg);
        
}
#stLine6 {
    position: absolute;
    z-index: 4;
    background-color: black;
    width: 0.5%;
    height: 25%;
    left: 0.1%;
    top: 77%;
    transform: skewX(-50deg);
        
}
/*end black lines*/


.midCl {
    position: absolute;
    z-index: 1;
    width: 0.2vw;
    height: 75vh;
    background-color: black;
    top: 15%;
    right: 40%;
    overflow: hidden;
    visibility: hidden;
}
#pepes {
    position: absolute;
    z-index: 1;
    width: 5vw;
    top: 20%;
    right: 75%;
    animation: pepeAnim 5s linear ease-in-out;
    
} /*Fail*/
@keyframes pepeAnim {
    0% {top: 20%;}
    100% {top: 50%;}
}
#bubble {
    z-index: 2;
    position: absolute;
    width: 30%;
    height: 50%;
    bottom: -10%;
    right: -10%;
    border-radius: 50%;
    overflow: hidden;
    background-image: radial-gradient(circle, #0035f0, #003bdc, #053fc8, #1941b3, #26429d);
    
}




