body {
    margin: auto;
}
#scene {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to top, #cfd3c6, #c8cbc1, #c1c4bc, #bbbcb7, #b4b5b2);
    overflow: hidden;
    
}

#logo {
    left: -2%;
    position: absolute;
    width: 15%;
    height: 15%;
    top: 0px;
    z-index: 5;
    transform: skewX(-5deg);
    overflow: hidden;
}
/*white lines logo*/
#lineUnder {
    position: absolute;
    z-index: 4;
    height: 0.1%;
    width: 10%;
    background-image: radial-gradient(circle, #ffffff, #b9b9b9, #777777, #3b3b3b, #000000);
    top: 15%;
}
#lineRight {
    position: absolute;
    z-index: 4;
    height: 16%;
    width: 0.05%;
    background-image: radial-gradient(circle, #ffffff, #b9b9b9, #777777, #3b3b3b, #000000);
    top: 0%;
    left: 9.9%;
}
/*demo section*/
#demo {
    position: absolute;
    z-index: 1;
    background-color: black;
    width: 35%;
    height: 35%;
    right: 30%;
    bottom: 0%;
    overflow: hidden;
}
#play {
    width: 8%;
    cursor: pointer;
    right: 43%;
    bottom: 10%;
    position: absolute;
    z-index: 1;
}

/*bottom line ER HIDDEN*/
#demoLine1 {
    z-index: 2;
    position: absolute;
    width: 100vw;
    height: 15vh;
    background-color: black;
    bottom: 0px;
    background-image: linear-gradient(to top, #ffffff, #dad5f9, #b3acf2, #8885ea, #5360e1);
    visibility: hidden;
    
}
/*left line*/
#demoLine2 {
    z-index: 3;
    position: absolute;
    width: 10%;
    height: 100%;
    background-color: black;
    top: 15%;
background-image: radial-gradient(circle, #252525, #242424, #232323, #222222, #212121);
    overflow: hidden;
}


/*mantras*/
#m1 {
    width: 10%;
    height: 10%;
    font-size: 200%;
    opacity: 0.9;
    bottom: 13%;
    right: 0%;
    color: gold;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    z-index: 3;
}
#m2 {
    width: 40vw;
    height: 5vh;
    top: 87%;
    left: 85%;
    font-size: 100%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    z-index: 2;
}
#m3{
    position: absolute;
    z-index: 5;
    width: 50%;
    top: 40%;
    left: 37%;
    font-size: 300%;
    font-family: sans-serif;
}
/*class for recoloring av ordet "matters"*/
.wordMatters {
    color: #6600cc;
    z-index: 1;
    font-style: 
}
#m4 {
    position: absolute;
    z-index: 1;
    width: 50vw;
    top: 50%;
    left: 43%;
    font-size: 3vmin;
    font-family: sans-serif; 
}
/*class for recoloring av ordet "NexTask"*/
.wordNexTask {
    color: #6600cc;
    z-index: 1;
    font-style:
}
/*checkmarks*/
.check {
    position: absolute;
    z-index: 5;
    width: 2%;
    top: 75%;
    left: 10%;
    box-shadow: 1px 1px 10px;
    
}
#check1 {
    top: 80%;
    
}
#check2 {
    top: 85%;
    
}
#check3 {
    top: 90%;
    
}
#check4 {
    top: 95%;
    
}
.checkText {
    position: absolute;
    z-index: 1;
    width: 15%;
    height: 10%;
    top: 170%;
    left: 12.5%;
    color: forestgreen;
    font-size: 100%;
    font-family: 'Montserrat';

}
#checkText1 {
    top: 74%
}
#checkText2 {
    top: 79%;
}
#checkText3 {
    top: 84%;
}
#checkText4 {
    top: 89%;
}
#checkText5 {
    top: 94%;
}

/*cursor pointer buggy og zoom er fucked*/
#getStartedButton {
    background-color: #9555af;
    color: #f2f2f2;
    font-size: 200%;
    font-family: sans-serif, cursive;
    position: absolute;
    width: 35%;
    height: 7%;
    top: 24%;
    right: 30%;
    z-index: 1;
    cursor: pointer;
    box-shadow: -1px 1px 15px #000;
    
    
}
#purpBckgr {
    z-index: 1;
    position: absolute;
    background-color: purple;
    width: 100%;
    height: 26%;
    left: 10%;
    top: 15%;
    overflow: hidden;
    opacity: 0.7;
}
#lineContainer {
    visibility: hidden;
    
}
.lineClassBl {
    position: absolute;
    z-index: 1;
    background-color: black;
    width: 0.2%;
    height: 26%;
    left: 30%;
    top: 15%;
    transform: skewX(-50deg);
}
#blackLine1 {
    left: 29.4%;
    width: 0.25%;
}
#blackLine2 {
    left: 80%;
}
/*left line right side*/
#blackLine3 {
    width: 0.25%;
    left: 79.4%;
}
.lineClassWh {
    position: absolute;
    z-index: 1;
    background-color: white;
    width: 0.3%;
    height: 26%;
    left: 29.7%;
    top: 15%;
    transform: skewX(-50deg);
}
#whiteLine1 {
    left: 79.7%;
}
#star1 {
    position: absolute;
    width: 2vw;
    height: 3vh;
    z-index: 1;
    right: 500%;
}
#star2 {
    position: absolute;
    width: 2vw;
    height: 3vh;
    z-index: 1;
    right: 460%;
}
#star3 {
    position: absolute;
    width: 2vw;
    height: 3vh;
    z-index: 1;
    right: 420%;
}
#star4 {
    position: absolute;
    width: 2vw;
    height: 3vh;
    z-index: 1;
    right: 380%;
}
#star5 {
    position: absolute;
    width: 2vw;
    height: 3vh;
    z-index: 1;
    right: 340%;
}
#starContainer {
    position: absolute;
    width: 5vw;
    height: 5vh;
    z-index: 2;
    right: -15%;
    top: 92%;
    
}

#about {
    position: absolute;
    right: 25%;
    color: #d9d9d9;
    
    position: absolute;
    z-index: 1;
    font-size: 2vmin;
    cursor: pointer;
    top: 10.5%;
    font-family: 'Montserrat';
}
#ex2 {
    position: absolute;
    right: 30%;
    color: #d9d9d9;
    position: absolute;
    z-index: 1;
    font-size: 2vmin;
    cursor: pointer;
    top: 10.5%;
    font-family: 'Montserrat';
}

#topLogo {
    position: absolute;
    background-image: radial-gradient(circle, #252525, #242424, #232323, #222222, #212121);
    width: 100vw;
    height: 15vh;
    
}

#loginBtn {
    width: 12%;
    height: 3.3%;
    position: absolute;
    background-color: #9555af;
    color: #f2f2f2;
    font-size: 2vmin;
    font-family: 'Montserrat', sans-serif;
    border: 0.1px solid black;
    top: 11.8%;
    right: 0%;
    z-index: 5;
    cursor: pointer;

}

a:visited{
    color: rgb(0,0,0); 
}

#menuLineContainer {
    position: absolute;
    width: 40%;
    height: 15%;
    z-index: 1;
    right: 0%;
}
/*skrå line*/
#stLine1 {
    position: absolute;
    z-index: 3;
    background-color: whitesmoke;
    color: white;
    width: 1%;
    height: 25%;
    left: -2.6%;
    top: 77%;
    transform: skewX(-50deg);
        
}
/*rett line over menu*/
#stLine2 {
    position: absolute;
    z-index: 3;
    background-color: whitesmoke;
    color: white;
    width: 99%;
    height: 2.1%;
    right: 0%;
    bottom: 20.9%;
    
}/*siden skrå line*/
#stLine3 {
    position: absolute;
    z-index: 2;
    background-color: whitesmoke;
    color: white;
    width: 10%;
    height: 25%;
    left: -1.7%;
    top: 77%;
    transform: skewX(-50deg);
        
}
/*3x black line i hvit skrå blockline*/
#stLine4 {
    position: absolute;
    z-index: 4;
    background-color: black;
    width: 0.5%;
    height: 25%;
    left: 6%;
    top: 77%;
    transform: skewX(-50deg);
        
}
#stLine5 {
    position: absolute;
    z-index: 4;
    background-color: black;
    width: 0.5%;
    height: 25%;
    left: 3%;
    top: 77%;
    transform: skewX(-50deg);
        
}
#stLine6 {
    position: absolute;
    z-index: 4;
    background-color: black;
    width: 0.5%;
    height: 25%;
    left: 0.1%;
    top: 77%;
    transform: skewX(-50deg);
        
}
/*end black lines*/


.midCl {
    position: absolute;
    z-index: 1;
    width: 0.2vw;
    height: 75vh;
    background-color: black;
    top: 15%;
    right: 40%;
    overflow: hidden;
    visibility: hidden;
}
#pepes {
    position: absolute;
    z-index: 1;
    width: 5vw;
    top: 20%;
    right: 75%;
    animation: pepeAnim 5s linear ease-in-out;
    visibility: hidden;
    
} /*Fail*/
@keyframes pepeAnim {
    0% {top: 20%;}
    100% {top: 50%;}
}
#bubble {
    z-index: 2;
    position: absolute;
    width: 25%;
    height: 40%;
    bottom: -10%;
    right: -10%;
    border-radius: 50%;
    overflow: hidden;
    background-image: radial-gradient(circle, #0035f0, #003bdc, #053fc8, #1941b3, #26429d);
    opacity: 0.8;
    
}








