body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    
}
#scene {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #434343;
    overflow: hidden;
}
#blueLeft {
    position: absolute;
    z-index: 2;
    width: 30%;
    height: 100%;
    background-color: #68a7ca;
    transform: skewX(-15deg);
    left: -20%;
    overflow: hidden;
}
#blueRight {
    position: absolute;
    z-index: 2;
    width: 30%;
    height: 100%;
    background-color: #68a7ca;
    right: -20%;
    transform: skewX(-10deg);
    overflow: hidden;
}
#logo {
    left: -1%;
    position: absolute;
    width: 15%;
    height: 15%;
    top: 3%;
    z-index: 3;
}
#about {
    position: absolute;
    right: 43%;
    top: -5%;
    font-size: 500%;
    z-index: 2;
    color: #b3d3e6;
    text-decoration: inherit;
    font-family: 'verdana';
    overflow: hidden;
}
.lineUnderFoot {
    position: absolute;
    z-index: 2;
    height: 0.1%;
    width: 16%;
    background-image: radial-gradient(circle, rgba(0,0,0,1),rgba(0,0,0,0));
    top: 11%;
    right: 42%;
}
#textC {
    position: relative;
    z-index: 2;
    width: 70%;
    height: 20%;
    top: 10%;
    left: 19%;
}
#nexTask {
    position: absolute;
    right: 15%;
    top: 10%;
    font-size: 200%;
    z-index: 2;
    color: white;
    text-decoration: inherit;
    font-family: 'arial'; 
}
#nexTask1 {
    position: absolute;
    right: 45%;
    top: 65%;
    font-size: 180%;
    z-index: 2;
    color: white;
    text-decoration: inherit;
    font-family: 'arial';  
}
#nexTask2 {
    position: absolute;
    right: 21%;
    top: 100%;
    font-size: 180%;
    z-index: 2;
    color: white;
    text-decoration: inherit;
    font-family: 'arial';  
}
#getStartedButton {
    position: absolute;
    z-index: 2;
    background-color: #4390bc;
    color: #f2f2f2;
    font-size: 200%;
    font-family: 'arial';
    width: 35%;
    height: 7%;
    top: 42%;
    right: 32%;
    cursor: pointer;
    border: none;
    box-shadow: -1px 1px 15px #000;
}
#team {
    position: absolute;
    z-index: 2;
    color: #d8e9f3;
    font-size: 200%;
    font-family: 'Georgia';
    right: 43.5%;
    top: 50%;
}
#teamC {
    position: relative;
    z-index: 2;
    width: 60%;
    height: 30%;
    top: 45%;
    left: 15%;
}
#andC {
    position: relative;
    bottom: 0%;
    width: 15%;
    z-index: 2;
}
/*ANDREAS*/
#andreasPic {
    z-index: 2;
    width: 100%;
    left: 0%;
    bottom: 50%;
    /*max-width: 100%;*/
}
#andreasTxt {
    color: #b3d3e6;
    font-family: 'Georgia';
    font-size: 1vw;
}
#andSubTxt {
    color: #ffd7de;
    font-family: 'arial';
    width: 100%;
    font-size: 1vw;
}
#gitA {
    z-index: 3;
    position: absolute;
    width: 7%;
    bottom: 100%;
    left: 3%;
    cursor: pointer;
}
#helC {
    position: relative;
    bottom: 100%;
    left: 20%;
    width: 15%;
    z-index: 2;
    background-color: white;
}
/*HELENE*/
#helenePic {
    z-index: 2;
    width: 100%;
    left: 0%;
    bottom: 50%;
}
#heleneTxt {
    color: #b3d3e6;
    font-family: 'Georgia';
    font-size: 1vw;
}
#helSubTxt {
    color: #ffd7de;
    font-family: 'arial';
    width: 100%;
    font-size: 1vw;
}
#gitH {
    z-index: 2;
    position: absolute;
    width: 7%;
    bottom: 100%;
    left: 36.8%;
    cursor: pointer;  
}
#kriC {
    position: relative;
    bottom: 206%;
    width: 15%;
    left: 40%;
    z-index: 2;
}
/*KRISTER*/
#kristerPic {
    z-index: 2;
    width: 100%;
    left: 0%;
    bottom: 50%;
}
#kristerTxt {
    color: #b3d3e6;
    font-family: 'Georgia';
    font-size: 1vw;
}
#kriSubTxt {
    color: #ffd7de;
    font-family: 'arial';
    width: 100%;
    font-size: 1vw;
}
#gitK {
    z-index: 2;
    position: absolute;
    width: 7%;
    bottom: 100%;
    left: 48.7%;
    cursor: pointer;   
}
#zemC {
    position: relative;
    bottom: 296%;
    left: 60%;
    width: 15%;
    z-index: 2;
}
/*ZEMEN*/
#zemenPic {
    z-index: 2;
    width: 100%;
    left: 0%;
    bottom: 50%;
}
#zemenTxt {
    color: #b3d3e6;
    font-family: 'Georgia';
    font-size: 1vw;
}
#zemSubTxt {
    color: #ffd7de;
    font-family: 'arial';
    width: 100%;
    font-size: 1vw;
}
#gitZ {
    z-index: 2;
    position: absolute;
    width: 7%;
    bottom: 100%;
    left: 60.8%;
    cursor: pointer;   
}
#simC {
    position: relative;
    bottom: 370%;
    left: 80%;
    width: 15%;
    z-index: 2;
}
/*SIMEN*/
#simenPic {
    z-index: 2;
    width: 100%;
    left: 0%;
    bottom: 50%;
}
#simenTxt {
    color: #b3d3e6;
    font-family: 'Georgia';
    font-size: 1vw;
}
#simSubTxt {
    color: #ffd7de;
    font-family: 'arial';
    width: 100%;
    font-size: 1vw;
}
#gitS {
    z-index: 2;
    position: absolute;
    width: 7%;
    bottom: 100%;
    left: 71.5%;
    cursor: pointer;   
}

