body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    
}
#scene {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #434343;
    overflow: hidden;
}
#blueLeft {
    position: absolute;
    z-index: 2;
    width: 20%;
    height: 100%;
    background-color: #68a7ca;
    transform: skewX(-15deg);
    left: -10%;
}
#blueRight {
    position: absolute;
    z-index: 2;
    width: 20%;
    height: 100%;
    background-color: #68a7ca;
    right: -10%;
    transform: skewX(-15deg);
}
#logo {
    left: 0%;
    position: absolute;
    width: 15%;
    height: 15%;
    top: 0%;
    z-index: 3;
}
#about {
    position: absolute;
    right: 43%;
    top: -5%;
    font-size: 500%;
    z-index: 2;
    color: #b3d3e6;
    text-decoration: inherit;
    font-family: 'verdana';
    overflow: hidden;
}
.lineUnderFoot {
    position: absolute;
    z-index: 2;
    height: 0.1%;
    width: 16%;
    background-image: radial-gradient(circle, rgba(0,0,0,1),rgba(0,0,0,0));
    top: 11%;
    right: 42%;
}
#nexTask {
     position: absolute;
    right: 20.5%;
    top: 20%;
    font-size: 200%;
    z-index: 2;
    color: white;
    text-decoration: inherit;
    font-family: 'arial'; 
}
#nexTask1 {
    position: absolute;
    right: 25%;
    top: 30%;
    font-size: 180%;
    z-index: 2;
    color: white;
    text-decoration: inherit;
    font-family: 'arial';  
}
#team {
    position: absolute;
    z-index: 2;
    color: #d8e9f3;
    font-size: 200%;
    font-family: 'Georgia';
    right: 43.5%;
    top: 55%;
}
/*ANDREAS*/
#andreasPic {
    position: absolute;
    z-index: 2;
    width: 9%;
    left: 21%;
    bottom: 5%;
}
#andreasTxt {
    position: absolute;
    z-index: 2;
    top: 68%;
    left: 21.5%;
    color: #b3d3e6;
    font-family: 'Georgia';
}
#andSubTxt {
    position: absolute;
    z-index: 2;
    top: 72%;
    left: 22%;
    color: #ffd7de;
    font-family: 'arial';
}
/*HELENE*/
#helenePic {
    position: absolute;
    z-index: 2;
    width: 9%;
    left: 34%;
    bottom: 1%;
}
#heleneTxt {
    position: absolute;
    z-index: 2;
    top: 72%;
    left: 34.2%;
    color: #b3d3e6;
    font-family: 'Georgia';
}
#helSubTxt {
    position: absolute;
    z-index: 2;
    top: 76%;
    left: 34.1%;
    color: #ffd7de;
    font-family: 'arial';
}
/*KRISTER*/
#kristerPic {
    position: absolute;
    z-index: 2;
    width: 9%;
    left: 46%;
    bottom: 5%;
}
#kristerTxt {
    position: absolute;
    z-index: 2;
    top: 68%;
    left: 44.2%;
    color: #b3d3e6;
    font-family: 'Georgia';
}
#kriSubTxt {
    position: absolute;
    z-index: 2;
    top: 72%;
    left: 46.1%;
    color: #ffd7de;
    font-family: 'arial';
}
/*ZEMEN*/
#zemenPic {
    position: absolute;
    z-index: 2;
    width: 9%;
    left: 58%;
    bottom: 1%;
}
#zemenTxt {
    position: absolute;
    z-index: 2;
    top: 72.5%;
    left: 58.6%;
    color: #b3d3e6;
    font-family: 'Georgia';
}
#zemSubTxt {
    position: absolute;
    z-index: 2;
    top: 76%;
    left: 59.7%;
    color: #ffd7de;
    font-family: 'arial';
}
/*SIMEN*/
#simenPic {
    position: absolute;
    z-index: 2;
    width: 10%;
    height: 18%;
    right: 21%;
    bottom: 5%;
}
#simenTxt {
    position: absolute;
    z-index: 2;
    top: 68%;
    right: 19.3%;
    color: #b3d3e6;
    font-family: 'Georgia';
}
#simSubTxt {
    position: absolute;
    z-index: 2;
    top: 72%;
    right: 23.3%;
    color: #ffd7de;
    font-family: 'arial';
}
