body{
    margin: 0;
    overflow: hidden;
}

h3{
    font-family: 'Montserrat', sans-serif;
}

hr{
    border-style: none;
    background-image: radial-gradient(circle, rgba(255,255,255,1), rgba(255,255,255,0));
    width: 50%;
    height: 1px;
}

.vr{
    transform: skewX(-5deg);
    width: 1px;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(10,10,10,1), rgba(255,255,255,0));
}

#sidebarContainer{
    position: fixed;
    background-image: linear-gradient(to bottom, #323232, #343434 );
    left: -20vw;
    width: 40vw;
    height: 100vh;
    transform: skewX(-5deg);
    z-index: 5;
}

#sidebarContainer #logo{
    position: relative;
    width: 60%;
    max-height: 20%;
    margin-left: 15vw;
}

#sidebarContainer hr{
    position: relative;
    margin-left: 50%;
    margin-right: 10px;
}



/* KANBAN BOARD CONTAINER AND CONTENT */

#boardContainer{
    position: absolute;
    padding-left: 20vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    background-color: #fefefe; 
    width: 80vw;
    height: 100vh;
    right: 0;
    z-index: 2;
    overflow-x: auto;
}

#boardContainer .taskColumn{
    transform: skewX(-5deg);
    width: 250px;
    margin: 0px 0px 0px 5px;
}

#boardContainer .taskColumn .colHead{
    position: relative;
    height: 15%;
    width: 100%;
    margin-top: -10%;
    background-color: #323232;
    z-index: 3;
}

#boardContainer .taskColumn .colHead h3{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    margin-top: 20%;
    font-size: 25px;
    display: inline-block;
    text-align: center;
    color: white;
    transform: skewX(5deg);
}

/* TASK LIST */
#boardContainer .taskColumn .colBody{
    z-index: 2;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow-y: auto;
}

#boardContainer .taskColumn .colBody .colTask{
    position: relative;
    right: 0;
    width: 100%;
    background-color: #efefef;
    transition: .18s ease;
    padding: 20px 0px 20px 0px;
}

#boardContainer .taskColumn .colBody .colTask:hover{
    background-color: rgb(255,200,200);
    cursor: pointer;
}

#boardContainer .taskColumn .colBody .colTask .colTaskHead{
    transform: skewX(5deg);
    font-size: 17px;
    font-family: 'Roboto', sans-serif; 
    margin: 0px 5% 5px 20px;

}
#boardContainer .taskColumn .colBody .colTask .colTaskHead::before{
    content: "~ ";
}

#boardContainer .taskColumn .colBody .colTask .colTaskDesc{
    transform: skewX(5deg);
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    margin: 0px 30% 0px 10px;
}

/* TASK DETAIL BOX BELOW */
#taskDetailContainer{
    position: fixed;
    transform: skewX(-10deg);
    z-index: 10;
    height: 50vh;
    width: 60vw;
    bottom: 0px;
    right: -60vw;
    opacity: 0.5;
    transition: .2s ease;
    box-shadow: 0px 0px 5px black;
}

#taskDetailContainer:hover{
    opacity: 1;
    right: -5vw;
}