body {
    margin: auto;
}
/*gives everything inside main Container these values*/
#mainC * {
    z-index: 1;
    position: absolute;
}
/*size values*/
#mainC {
    position: relative;
    width: 100vw;
    height: 100vh;
}
/*plain white background*/
#background {
    width: 100%;
    height: 100%;
    background-color: #d8e9f3;
}
/*footer section*/
#footC {
    bottom: 0%;
    width: 100%;
    height: 15%;
    background-color: #b3d3e6;
    display: flex;
    justify-content: center;
    margin: 0 auto 0 auto;
    overflow: hidden;
}
/*git container*/
#gitC {
    position: relative;
    bottom: 0%;
    height: 100%;
    width: 15%;
    display: block;
    left: 90%;
}
/*text over github pic*/
#gitTxt {
    font-family: 'arial';
    font-size: 1vw;
    margin-top: -1px;
    left: 5%;
    white-space: nowrap;
    height: 100%;
    text-align: center;
    display: block;
}
#gitPic {
    position: relative;
    width: 30%;
    left: 20%;
    margin-top: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
/*resource container*/
#resourceContainer {
    position: relative;
    width: 100px;
    left: 30%;
    height: 100%;
    display: block;
    text-align: center;
    margin: 0 auto 0 auto;
}
/*text class*/
.rscTxt {
    font-family: 'arial';
    font-size: 1vw;
    margin-top: -1px;
    width: 100%;
    height: 100%;
    text-align: center;
    display: block;
}
/*links*/
.linkC {
    font-family: 'arial';
    font-size: 0.9vw;
    margin-top: 15px;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    cursor: pointer;
}
/*class for resource links*/
.rscLinks {
    margin-top: 8px;
    position: relative !important;
    text-decoration-line: none;
    color: #434343;
}
/*container mantras*/
#mantraC {
    font-family: 'arial';
    font-size: 2vw;
    margin-top: 1px;
    width: 50%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    left: 5%;
}
/*mantras*/
.mantras {
    margin-top: 10px;
    position: relative !important;
    white-space: nowrap;
    left: -40%;
}
/*class for recoloring the word "matters"*/
.wordMatters {
    color: #6600cc;
}
/*class for recoloring the word "NexTask"*/
.wordNexTask {
    color: #6600cc;
}
/*top container*/
#topContainer {
    top: 0%;
    width: 100%;
    height: 5%;
    position: relative;
}
/*black color at top*/
#topLogo {
    background-color: #434343;
    width: 100%;
    height: 80%;
}
/*container for "fancy" white line design*/
#menuLineContainer {
    width: 35%;
    height: 100%;
    right: 0%;
}
/*white straight line*/
#stLine1 {
    background-color: whitesmoke;
    color: white;
    width: 83%;
    height: 10%;
    right: 0%;
    top: 8%;
}
/*skewed line*/
#stLine2 {
    background-color: whitesmoke;
    color: white;
    width: 10%;
    height: 70%;
    left: 5%;
    bottom: 22%;
    transform: skewX(-50deg);
}
/*3x black line within white*/
#stLine3 {
    background-color: black;
    width: 0.5%;
    height: 70%;
    left: 7%;
    bottom: 22%;
    transform: skewX(-50deg);
}
#stLine4 {
    background-color: black;
    width: 0.5%;
    height: 70%;
    left: 9.6%;
    bottom: 22%;
    transform: skewX(-50deg);
}
#stLine5 {
    background-color: black;
    width: 0.5%;
    height: 70%;
    left: 12.5%;
    bottom: 22%;
    transform: skewX(-50deg);
}
/*blue background holding logo and Get Started button*/
#blueBck {
    background-color: #68a7ca;
    width: 100%;
    height: 15%;
    top: 4%;
}
/*on the left*/
#logo {
    left: 0%;
    width: 15%;
    height: 15%;
    top: 4%;
    overflow: hidden;
    transform: skewX(-15deg);
}
/*button middle*/
#getStartedButton {
    position: absolute;
    z-index: 2;
    background-color: #4390bc;
    color: #f2f2f2;
    font-size: 200%;
    font-family: 'arial';
    width: 35%;
    height: 7%;
    top: 8%;
    right: 32%;
    cursor: pointer;
    border: none;
    box-shadow: -1px 1px 15px #000;
    white-space: nowrap;
}
/*button top right*/
#loginBtn {
    position: absolute;
    top: 1%;
    right: 0%;
    width: 8%;
    height: 3%;
    z-index: 2;
    background-color: #4390bc;
    color: #f2f2f2;
    font-family: 'arial';
    border: 0.1px solid black;
    cursor: pointer;
    font-size: 2vmin;
}
/*about top right*/
#about {
    position: relative;
    width: 10%;
    height: 40%;
    left: 60%;
    top: 38%;
    color: #f3f3f3;
    font-family: 'arial';
    cursor: pointer;
    font-size: 2vmin;
    text-decoration: none;
}
/*video player in middle*/
#demoVid {
    position: absolute;
    z-index: 2;
    top: 26%;
    left: 26.5%;
    width: 46.6%;
    height: 50%;
    border: none;
}