body{
    margin: 0;
    height: 100%; 
    overflow-y: scroll;
    background-color: #e0f7f8
}

/*Start:  Sidebar container, same as Board.html*/
#loginSideContainer{
    position: fixed;
    background-image: linear-gradient(to bottom, #94d1f5, #9df7e9 );
    left: -20vw;
    width: 40vw;
    height: 100vh;
    transform: skewX(-5deg);
    z-index: 5;
    top: 0;
    box-shadow: 0px 0px 5px #434343;
}

#loginSideContainer #loginLogo{
    position: relative;
    width: 60%;
    max-height: 20%;
    margin-left: 15vw;
}

/* Information about NexTask */
#aboutContainer {
    background-color: #d8e9f3; 
    width: 50%; 
    height: auto; 
    position: fixed;  
    left: -20%;
    top: 30%; 
    border: 2px solid #f3f3f3; 
    box-shadow: 10px 10px 3px rgba(69,69,69,.2);
    display: block; 
    transition: .2s ease;
}

#infoTextHead {
    font-size: 40px;
    font-family: Montserrat;
    margin-left: 20px; 
    color: #434343;
}

#infoText{
    font-size: 20px;
    font-family: sans-serif; 
    margin-left: 20px; 
    color: #434343;
}

#readMoreBtn {
    margin: auto; 
    padding: 0; 
    border: none; 
    background: #f3f3f3; 
    border: #f3f3f3; 
    margin-top: 10px; 
    margin-bottom: 30px; 
    position: relative; 
    width: 50%;
    height: 10%; 
    font-family: sans-serif; 
    font-size: 25px; 
    line-height: 1.5; 
    color: #434343;
    cursor: pointer; 
}


#loginSideContainer:hover #aboutContainer{
    left: 60%; 
}

#loginSideContainer hr{
    position: relative;
    margin-left: 50%;
    margin-right: 10px;
}

/*-------------------end sidebar--------------- */

/* Start: login and register box*/
     
#loginBox {
    z-index: 5; 
    position: fixed;  
    height: auto; 
    width: 50%;
    left: -100%;
    top: 10%; 
    text-align: center; 
    border: 2px solid rgb(0,0,0, 0.3);
    transform: skewX(-5deg);
    background-color: #94d1f5; 
    box-shadow: 10px 10px 3px rgba(69,69,69,.2);
    display: block; 
    animation-name: loginSlideIn;
    animation-duration: .5s;
    animation-delay: .3s; 
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes loginSlideIn {
    from {
        left: -100%; 
        top: 10%; 
        z-index: 4; 
    } to {
        left: 35%; 
        top: 10%; 
        z-index: 4;
    }
}

#h1 {
    font-size: 40px;
    font-family: Montserrat; 
    color: #f3f3f3; 
}

#wrongLogin {

    background-color: red;
    display: none;
    padding: 10px;
    color: white;
    font-family: Montserrat; 

}

.h3 {
    font-size: 30px; 
    font-family: Montserrat; 
    color: #f3f3f3; 
}

input {
    margin-top: 25px; 
    margin-bottom:13px;
    padding:10px;
    width: 70%;
    border:2px solid #8dbdd8;
    text-align: center; 
    font-size: 18px; 
    font-family: sans-serif; 
    background-color: #d3f0ff;
    transition: .1s ease; 
}

input:hover{
    background-color: #f3f3f3;
}

button {
    margin: auto; 
    display: block;
    padding: 0; 
    border: none; 
    background: none; 
    margin-top: 10px; 
    margin-bottom: 30px; 
    position: relative; 
    width: 50%;
    height: 10%; 
    font-family: sans-serif; 
    font-size: 30px; 
    line-height: 1.5; 
    color: #f3f3f3;
    cursor: pointer; 
}
a:visited {
    color: #f3f3f3;
}

label {
    display: block;
    margin: auto; 
    padding: 0; 
    border: none; 
    background: none;  
    margin-bottom: 30px; 
    position: relative; 
    width: 50%;
    height: 10%; 
    font-family: sans-serif; 
    font-size: 30px; 
    line-height: 1.5; 
    color: #f3f3f3;
    text-align: center; 
    cursor: pointer;    
}

#formSwitch {
  display:none; 
}
#registerForm {
  display:none; 
}
#formSwitch:checked~#registerForm {
  display:block
}
#formSwitch:checked~#loginForm {
  display:none
}

/* ------------end of loginBox ----------- */